body {
  margin: 0;
  font-family: 'sansation';
  src: url(./fonts/Sansation_Regular.ttf) ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hero-heading{
  font-size: 50px;
}